---
import BaseLayout from "../layout/baseLayout.astro";
import Event from "../components/EventItem.astro";

const pageTitle = "Veranstaltungen";
const apiUrl = "https://data.carinthia.com/api/v4/endpoints/557ea81f-6d65-6476-9e01-d196112514d2?include=image&token=9962098a5f6c6ae8d16ad5aba95afee0";
const response = await fetch(apiUrl);
const data = await response.json();

// Extrahiere die Veranstaltungen aus dem @graph-Array
let events = [];
if (data && data["@graph"]) {
  events = data["@graph"].map((event) => {

    const cleanDescription = event.description.replace(/<[^>]+>/g, '');
	let img = ``; 
	if (event.image && Array.isArray(event.image) && event.image.length > 0) {
	// Iteriere durch jedes Bild-Objekt im Array
    event.image.forEach((image, index) => {
		console.log(`Good`);
		if (image.contentUrl) {
            console.log(`Image ${index} URL: ${image.contentUrl}`);
			img = image.contentUrl;
        }
    });
	} else {
    console.log('event.image is not an array or is empty.');
	}
    return {
      id: event["@id"],
      title: event.name,
      description: cleanDescription,
      startDate: event.startDate,
      endDate: event.endDate,
      thumbnailUrl: img
    };
  });
} else {
  console.error("Keine Veranstaltungsdaten gefunden");
}




---
<BaseLayout pageTitle={pageTitle}>
	

	

	{events.length > 0 ? (
	  <ul  class="event-list ">
		{events.map((event) => (
		  <Event 
			url={`/veranstaltungen/${event.id}`} 
			title={event.title} 
			description={event.description} 
			startDate={event.startDate} 
			endDate={event.endDate} 
			thumbnailUrl={event.thumbnailUrl}
			
		  />
		))}
	  </ul>
	) : (
	  <p>Keine Veranstaltungen verfügbar.</p>
	)}
	
</BaseLayout>

<style>
	.imgContainer{
		display: flex;
    	justify-content: center;  /* Zentriert das Bild horizontal */
    	align-items: center;      /* Zentriert das Bild vertikal (wenn Höhe gesetzt) */
    	width: 100%;              /* Container nimmt die volle Breite ein */
    	height: auto;             /* Falls du auch eine Höhe angeben möchtest */
	}

	img {
		height: auto;         /* Behalte das Seitenverhältnis bei */
  		object-fit: cover;    /* Verhindert Verzerrungen und füllt den Bereich */
	}
</style>

